<div class="action">
  <h2>Want to know more?</h2>
  <p>
  If you think I might be a good fit for your team, I'd love to talk to you.
  Let me know you're interested, and I'll be happy to go into more detail or
  share my previous work.
  </p>

  <a href='mailto:wright.grayson@gmail.com'
    target="_blank" class="button">Let's Chat</a>
</div>
