<div class="action">
  <h2>Like what you see?</h2>
  <p>
  It's your turn now; if you think I might be a good fit for your team, I'd love
  to hear about it. Shoot me an email and let's see if we can work something out.
  </p>

  <a href='mailto:wright.grayson@gmail.com'
    target="_blank" class="button">Let's Chat</a>
</div>
