<div class="contact">
  <div class="github">
    <i class="fa fa-github fa-lg"></i>
    <span>graysonwright</span>
  </div>
  <div class="website">
    <i class="fa fa-globe fa-lg"></i>
    <span>graysonwright.com</span>
  </div>
  <div class="email">
    <i class="fa fa-envelope fa-lg"></i>
    <span>wright.grayson@gmail.com</span>
  </div>
  <div class="twitter">
    <i class="fa fa-twitter fa-lg"></i>
    <span>grayson_wright</span>
  </div>
</div>
