<div class="contact">

  <a target="_blank" href="https://github.com/graysonwright">
    <div class="github">
      <i class="fa fa-github fa-lg"></i>
      <span>graysonwright</span>
    </div>
  </a>

  <a target="_blank" href="http://graysonwright.com">
    <div class="website">
      <i class="fa fa-globe fa-lg"></i>
      <span>graysonwright.com</span>
    </div>
  </a>

  <a target="_blank" href="mailto:wright.grayson@gmail.com">
    <div class="email">
      <i class="fa fa-envelope fa-lg"></i>
      <span>wright.grayson@gmail.com</span>
    </div>
  </a>

  <a target="_blank" href="https://twitter.com/grayson_wright">
    <div class="twitter">
      <i class="fa fa-twitter fa-lg"></i>
      <span>grayson_wright</span>
    </div>
  </a>
</div>
