<div class="contact">
  <a class="channel github" target="_blank" href="https://github.com/graysonwright">
    <i class="fa fa-github fa-lg"></i>
    <span>graysonwright</span>
  </a>

  <a class="channel website" target="_blank" href="https://graysonwright.com">
    <i class="fa fa-globe fa-lg"></i>
    <span>graysonwright.com</span>
  </a>

  <a class="channel email"  target="_blank" href="mailto:wright.grayson@gmail.com">
    <i class="fa fa-envelope fa-lg"></i>
    <span>grace.c.youngblood@gmail.com</span>
  </a>

  <a class="channel twitter" target="_blank" href="https://twitter.com/grayson_wright">
    <i class="fa fa-twitter fa-lg"></i>
    <span>grayson_wright</span>
  </a>
</div>
