<div class="experience">
  <span class="dates">May 2012 - July 2012</span>
  <div class="card">
    <div class="position">
      <div class="location">Microsoft</div>
      <div class="title">SDET Intern</div>
    </div>
    <ul class="skills">
      <li class="skill">
      <i class="fa fa-code fa-lg"></i>
      <span>C++</span>
      </li>
      <li class="skill">
      <i class="fa fa-jsfiddle fa-lg"></i>
      <span>Javascript</span>
      </li>
      <li class="skill">
      <i class="fa fa-terminal fa-lg"></i>
      <span>MS/DOS scripting</span>
      </li>
    </ul>
    <div class="bullets">
      <ul>
        <li>Developed a new testing framework for printer drivers</li>
        <li>Worked with COM, Javascript, XML, and C++</li>
        <li>Focus on creating a flexible and extensible system</li>
      </ul>
    </div>
  </div>
</div>
