<div class="experience">
  <span class="dates"><%= experience.dates %></span>
  <div class="card">
    <div class="position">
      <span class="title"><%= experience.title %></span>
      <span class="location"><%= experience.location %></span>
    </div>
      <p class="description"><%= experience.description %>
  </div>
</div>
