<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style"></link>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <section id="header">
    <img id="profile" alt="Grayson" src="http://2014.eurucamp.org/images/content/speakers/gwright.jpg"></img>
    <h1>Hi, I'm Grayson</h1>

    <p>
    I'm a full-stack web developer and designer, with a solid background in Computer Science.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.

    <!--
    TODO key points
    Rock climbing
    Sailing
    TDD
    Refactoring
    -->

    </p>
    </section>

    <section class="contact">
    <div class="github">
      <i class="fa fa-github fa-lg"></i>
      <span>graysonwright</span>
    </div>
    <div class="website">
      <i class="fa fa-globe fa-lg"></i>
      <span>graysonwright.com</span>
    </div>
    <div class="email">
      <i class="fa fa-envelope fa-lg"></i>
      <span>wright.grayson@gmail.com</span>
    </div>
    <div class="twitter">
      <i class="fa fa-twitter fa-lg"></i>
      <span>grayson_wright</span>
    </div>
    </section>

    <section id="timeline">
    </section>
  </body>
</html>
