<html>
  <head>
    <title>Resum&eacute; | Grace Youngblood</title>

    <link rel="stylesheet" type="text/css" href="/normalize.css"></link>
    <link rel="stylesheet" type="text/css" href="/style.css"></link>
    <link rel="stylesheet" type="text/css" href="/print.css" media="print"></link>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="//use.typekit.net/qmo7wci.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
