<img id="profile" alt="Grayson" src="/grayson.png"></img>

<div class="letter">
<h1>Hello! I'm Grayson, a web developer and designer</h1>

<p>
I build products with a focus on the user, whether it's an API for other
developers, an internal tool for the product or sales team, or a website that
millions of people use each day.  I love designing systems that are a joy
to use, and I can spend hours streamlining a sign-up page to increase user
conversion. At the same time, I have a strong computer science background, so
I'm not afraid to dive into complex algorithms to find speed bottlenecks.
</p>

<p>
I'm looking to join a team that's passionate about improving people's lives
through software. I work best in a fast-paced environment, and I love to learn
and experiment with new technologies and systems. If that sounds like the work
your team is doing, I think we should talk.
</p>
</div>
