<img id="profile" alt="Grayson" src="/grayson.png"></img>

<h1>Hello! I'm Grayson, a web developer and designer</h1>

<p>
<strong>I could use this space</strong> to tell you about my qualifications,
but my experiences and code tell the story better. Instead, I'll tell
you that I love to travel. I love to try new foods and beers. I rock climb, I'm
learning to play guitar, and I'm an amateur photographer. I love to meet new
people with different perspectives. I love to learn, and I love to teach what I
know.
</p>

<p>
<strong>Most importantly, I love to build software</strong> and I take a lot
of pride in what I build. I don't ship products unless they're intuitive and a
pleasure to use, whether that means streamlining a sign-up form, speeding up
requests, or writing clear documentation for an API. I love challenges with no
right answer, and I work best on a deadline.
</p>

<p>
<strong>If your team takes pride</strong> in shipping beautiful solutions to
complex and significant problems, I'd love to hear from you! I think we'll get
along well.
</p>
