<div id="skills">
  <h2>Skills</h2>
  <%
    Skill = Struct.new(:name, :level, :icon)
    skills = [Skill.new('Ruby', 5, 'ruby'),
    Skill.new('HTML & CSS', 5, 'html'),
    Skill.new('Command Line', 4, 'terminal'),
    Skill.new('C++', 4, 'plus'),
    Skill.new('Testing', 4, 'testing'),
    Skill.new('Design', 3, 'design'),
    ]
  %>

    <% skills.each do |skill| %>
  <div class="skill">
    <div class="name"><%= skill.name %></div>
    <div class="proficiency">
      <% skill.level.times do %>
        <img class="skill-bubble" src="<%= "/#{skill.icon}.svg"%>">
      <% end %>
    </div>
  </div>
  <%end%>
</div>
