<div id="skills">
  <h2>Skills</h2>

  <% Skill.sorted.each do |skill| %>
    <div class="skill">
      <div class="name"><%= skill.name %></div>
      <div class="proficiency">
        <% skill.level.times do %>
          <img class="skill-bubble" src="<%= "/#{skill.icon}.svg"%>">
        <% end %>
      </div>
    </div>
  <%end%>
</div>
