@import 'bourbon/bourbon';
@import 'neat/neat';

/* TODO: flesh out these variables */
$body-font-stack: 'Museo Sans';
$header-font-stack: 'Adelle';

$base-background-color: rgb(245, 245, 240); // From https://upcase.com

body {
  font-family: $body-font-stack;
  background-color: $base-background-color;
}

h1, h2, h3, h4 {
  font-family: $header-font-stack;
}

#content {
  @include outer-container;
}

p {
  margin-top: 0;
}

#header {
  margin-top: $gutter;
  img#profile {
    @include span-columns(3 of 12);
  }
  h1, p {
    @include span-columns(9 of 12);
    @include omega;
  }
  @include clearfix;
}

.contact {
  margin-top: $gutter;
  padding: $gutter/2 0;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  overflow: hidden;
  div {
    display: block;
    i, span {
      display: block;
      @include fill-parent;
    }
    @include span-columns(3 of 12);
    text-align: center;
  }
}

@mixin rotate($angle) {
  display: block;
  -webkit-transform: rotate($angle);
  -moz-transform: rotate($angle);
  -ms-transform: rotate($angle);
  -o-transform: rotate($angle);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/*------ Timeline --------*/

#experiences {
  @include span-columns(11);
  @include shift(1);
}
.experience {
  @include fill-parent;
  .dates {
    @include rotate(90deg);
  }

  .card {
    @include span-columns(10 of 11);
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 2px;
    box-shadow: 0 2px 4px darken($base-background-color, 10);

    .position {
      @include fill-parent;
      border-bottom: 1px solid #CCC;
      overflow: hidden;

      font-family: $header-font-stack;
      .location, .title {
        padding: $gutter/2;
      }
      .location {
        padding-left: $gutter;
        background-color: #AAA;
        @include span-columns(3 of 10);
      }
      .title {
        padding-left: 0px;
        @include span-columns(7 of 10);
      }
    }

    .skills {
      @include span-columns(3 of 10);
      padding-left: $gutter;
      i {
        padding-right: $gutter/2;
      }
    }
    .bullets {
      @include span-columns(7 of 10);
      @include omega;
    }
  }

  ul {
    list-style: none;
    padding-left: 0px;
    line-height: $gutter;
  }
}
