@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'colors';

$medium: new-breakpoint(max-width 1160px 12);
$smaller: new-breakpoint(max-width 799px 4);
$tiny: new-breakpoint(max-width 479px 4);

$body-font-stack: 'Museo Sans',sans-serif;
$header-font-stack: 'Adelle',serif;

$base-background-color: $white;
$border: 1px solid $border-color;
$card-background-color: #FFFFFF;

$secondary-opacity-level: 0.3;

body {
  color: $black;
  font-family: $body-font-stack;
  background-color: $base-background-color;
  line-height: $gutter;
  @include background(url("/background.png"));
}

h1, h2, h3, h4 {
  font-family: $header-font-stack;
  line-height: 1.2em;
}

a {
  text-decoration: none;
  color: $black;
  &:visited { color: $black; }
  &:hover {
    transition-duration: 0.35s;
    color: darken($green, 10);
  }
}

#content {
  @include media($medium) {
    padding-left: $gutter;
    padding-right: $gutter;
  }
  @include media($tiny) {
    font-size: 12px;
  }
  line-height: $gutter;
  @include outer-container;
}

p {
  margin-top: 0;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

#header {
  margin-top: $gutter;
  #profile {
    @include span-columns(3 of 12);
  }
  h1 {
    @include media($tiny) {
      display: inline-block;
    }
  }
  @include clearfix;
}

.contact {
  margin-top: $gutter;
  margin-bottom: $gutter;
  padding: $gutter/2 0;
  border-top: $border;
  border-bottom: $border;
  overflow: hidden;

  a {
    display: block;
    @include span-columns(3 of 12);
    text-align: center;
    i, span {
      display: block;
      @include fill-parent;
    }
    @include media($smaller) {
      @include span-columns(2 of 4);
      &:nth-child(1), &:nth-child(2) {
        margin-bottom: $gutter;
      }
      &:nth-child(2n) {
        @include omega;
      }
    }
    @include media($tiny) {
      @include fill-parent;
      margin-bottom: $gutter;
      &:last-child {
        margin-bottom: 0px;
      }
      i {
        padding-top: .2em;
        @include span-columns(.5 of 4);
      }
      span {
        @include span-columns(3.5 of 4);
        text-align: left;
      }
    }
  }
}

#experiences {
  @include span-columns(9);
  @include media($smaller) {
    @include span-columns(4);
  }
  .experience {
    @include fill-parent;
    .dates {
      padding-left: $gutter;
      font-weight: 700;
      opacity: $secondary-opacity-level;
    }

    .card {
      padding: $gutter;
      position: relative;
      margin-bottom: $gutter;
      @include span-columns(9 of 9);
      @include omega;
      background-color: $card-background-color;
      border: $border;
      border-radius: 2px;
      box-shadow: 0 2px 4px darken($base-background-color, 10);

      .position {
        @include fill-parent;
        overflow: hidden;
        font-family: $header-font-stack;

        .title, .location {
          line-height: 1em;
          font-weight: bold;
          @include media($smaller) {
            @include span-columns(4 of 4);
          }
        }

        .location {
          padding-left: $gutter;
          opacity: $secondary-opacity-level;
          @include media($smaller) {
            @include span-columns(9 of 9);
            padding-left: 0;
            line-height: $gutter;
          }
        }
      }

      p {
        display: block;
        @include fill-parent;
        margin-bottom: 0px;
        padding-top: $gutter/2;
      }
    }

    margin-bottom: $gutter;
  }
}

.main {
  @include fill-parent;
  overflow: hidden;
  position: relative;
}

#sidebar {
  position: absolute;
  overflow: auto;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  @include span-columns(3 of 12);
  h2 { text-align: center; }

  @include media($smaller) {
    position: relative;
    overflow: hidden;
    @include span-columns(4);
    height: auto;
    #skills, #education {
      @include span-columns(2 of 4);
    }
    #education {
      @include omega;
    }
  }

  @include media($tiny) {
    #skills, #education { @include fill-parent; }
  }

  #skills {
    .skill {
      @include clearfix;
      margin-bottom: $gutter/2;
      .name {
        @include span-columns(1.5 of 3);
        text-align: right;
      }
      .proficiency {
        display: inline-block;
        @include span-columns(1.5 of 3);
        @include omega;
        .skill-bubble {
          padding-top: .2em;
          @include span-columns(1 of 5);
        }
      }
    }
    .about-link {
      opacity: $secondary-opacity-level;
      @include span-columns(3 of 3);
      text-align: center;
    }
    overflow: hidden;
    margin-bottom: 2 * $gutter;
  }
  #education {
    .topic {
      @include clearfix;
      @include fill-parent;
      margin-bottom: $gutter/2;
      .gpa {
        text-align: right;
        @include span-columns(2 of 8);
        @include omega;
      }
      .name {
        @include span-columns(6 of 8);
      }
      &.school { border-bottom: $border; }
      &.class {
        padding-left: $gutter;
        opacity: 0.5;
      }
    }
  }

  .action {
    @include fill-parent;
    position: absolute;
    margin-bottom: $gutter;
    bottom: 0;
    @include media($smaller) {
      text-align: center;
      position: relative;
      margin-top: $gutter;
      overflow: hidden;
    }
    .button {
      font-size: 1.2em;
      text-align: center;
      text-decoration: none;
      display: block;
      @include fill-parent;
      padding: $gutter/1.2;
      text-transform: uppercase;
      background-color: $green;
      border-radius: 5.25px;
      color: $white;
      transition-duration: 0.35s;
      letter-spacing: 1px;
      &:hover {
        background-color: darken($green, 10);
      }
    }
  }
}

@media screen {
  .ribbon-wrapper {
    $ribbon-size: 85px;
    @include size($ribbon-size);
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px;

    .ribbon {
      font-size: .8em;
      font-weight: 800;
      text-align: center;
      @include transform(rotate(45deg));
      position: relative;
      padding: 2px 7px;
      left: -5px;
      top: 15px;
      width: 120px;
      color: white;
      box-shadow: 0px 0px 3px rgba(0,0,0,0.3);

      &.community { background-color: $blue; }
      &.research { background-color: $red; }
    }
  }
}

#footer {
  margin-top: $gutter;
  border-top: $border;
  padding-top: $gutter/2;
  padding-bottom: $gutter/2;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
}

#about-icons {
  a { font-weight: bold; }
  h1, p { text-align: center; }
  p { margin-bottom: 2*$gutter; }
  .icon-attribution {
    @include span-columns(6 of 12);
    &:nth-child(2n) {
      @include omega;
    }
    margin-bottom: $gutter;
    span {
      display: inline-block;
      padding-top: 1.5em;
    }
    img {
      @include span-columns(1 of 6);
    }
  }
}
