@import 'bourbon/bourbon';
@import 'neat/neat';

/* TODO: flesh out these variables */
$body-font-stack: 'Museo Sans';
$header-font-stack: 'Adelle';

$base-background-color: rgb(245, 245, 240); // From https://upcase.com

body {
  font-family: $body-font-stack;
  background-color: $base-background-color;
}

h1, h2, h3, h4 {
  font-family: $header-font-stack;
}

#content {
  @include outer-container;
}

p {
  margin-top: 0;
}

#header {
  margin-top: $gutter;
  img#profile {
    @include span-columns(3 of 12);
  }
  h1, p {
    @include span-columns(9 of 12);
    @include omega;
  }
  @include clearfix;
}

.contact {
  margin-top: $gutter;
  padding: $gutter/2 0;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  overflow: hidden;
  div {
    display: block;
    i, span {
      display: block;
      @include fill-parent;
    }
    @include span-columns(3 of 12);
    text-align: center;
  }
}
